.search-cars
	background-color: #F3F3F3
	text-align: center

	.wrapper
		padding: 20px 65px 65px 65px

		+desktop-small
			padding: 20px 40px 40px 40px

		+tablet
			padding: 20px 30px

	&.brand-page
		.wrapper
			padding-bottom: 80px

			+tablet
				padding-bottom: 40px

		ul.cars
			margin-bottom: 0

	.title
		margin: 0 0 35px 0
		text-align: left
		position: relative

		h2
			font-weight: 300
			font-size: 30px
			line-height: 40px

			margin: 0
			padding: 0

			+tablet
				font-size: 24px
				line-height: 34px

			em
				font-style: normal
				display: inline

				&::before
					content: '• '

		a.right
			float: right
			margin-top: 5px

			.icon
				margin-left: 15px

		.submenu
			position: absolute
			right: 0
			top: 45px
			display: none

			width: 200px
			background-color: white
			padding: 5px 0
			text-align: left

			font-size: 18px
			line-height: 28px

			&.visible
				display: block

			a
				display: block
				padding: 5px 10px

				&:hover
					background-color: $marine
					color: white

	ul.cars
		margin-bottom: 0

		+tablet
			margin-bottom: 50px

	.footer
		text-align: right
