section.action_banner
  padding: 30px
  background-color: #EEEEEE
  &.home_action_banner
    div.wrapper
      +mobile
        padding: 55px 20px
        height: 470px
        background-position: -180px bottom
        background-size: 900px

  div.wrapper
    padding: 90px
    color: white
    text-align: left
    //height: 780px
    width: 100%
    -webkit-background-size: cover
    background-size: cover
    position: relative
    overflow: hidden

    +mobile-large
      padding: 55px 50px
      height: 500px
    +mobile
      background-position: -20px 170px
      background-size: 170%

    img
      width: 100%
      height: 100%

    article.balloon
      background-image: image-url('action_pages/text_balloon.png')
      -webkit-background-size: contain
      background-size: contain
      background-repeat: no-repeat
      width: 600px
      height: 360px
      position: absolute
      top: 0
      left: 0
      padding: 50px
      +desktop-small
        width: 450px
        height: 270px
      +tablet
        width: 510px
        height: 320px
      +mobile-large
        width: 90%
        height: 400px
        padding: 20px 30px
      +mobile
        background-size: 120%
      h2
        font-size: 34px
        color: #FFFFFF
        line-height: 46px
        margin: 0
        font-weight: 600
        +mobile-large
          font-size: 24px
          line-height: 30px
      p
        font-size: 16px
        line-height: 22px
        margin-top: 20px
      ul
        list-style: none
        margin: 0
        padding: 0
        li
          margin: 0 0 2px 0
          padding: 0 0 0 35px
          position: relative
          font-size: 16px
          line-height: 30px
          font-weight: 600

          &::before
            content: ''
            @extend .icon
            @extend .icon.list-check-small

            position: absolute
            left: 4px
            top: 7px

    h1
      margin: 0
      font-size: 70px
      text-transform: uppercase
      font-weight: bold
      line-height: 80px
      animation-delay: 1s
      &.right
        margin-left: 630px
        +desktop-small
          margin-left: 440px
        +tablet
          margin: 380px auto 0
          text-align: center
        +mobile-large
          margin-top: 450px
      +tablet-small
        font-size: 40px
        line-height: 50px

    p
      font-size: 23px
      margin-top: 10px
      font-weight: 400
      animation-delay: 2s
      &.right
        margin-left: 630px
        +desktop-small
          margin-left: 420px
        +tablet
          margin: 20px auto 0
          text-align: center

    .btn
      padding: 18px 70px 20px 0
      width: 370px
      animation-delay: 3s
      +tablet-small
        width: 310px
      +mobile
        width: 100%
        margin: 0 auto

  div.footer
    margin: 20px auto
    text-align: center
    button.btn
      +transform(translateY(-60px))
      +tablet
        display: none
      &:after
        transform: rotate(90deg)
        border-left: none
        border-bottom: 1px solid #ff7c59

section.action-page-cars
  .wrapper
    h2:first-child
      font-size: 58px
      line-height: 63px
      +mobile
        font-size: 40px
        lineheight: 57px
    h2:first-child + p
      margin-top: -20px
      margin-bottom: 50px
      font-size: 32px
      line-height: 40px
      +mobile
        margin-top: -30px
        font-size: 22px
        line-height: 34px
    nav.pagination
      +mobile
        font-size: 11px

section.action_banner.second
  .wrapper
    background-image: linear-gradient(-153deg, #F97844 1%, #F87240 15%, #F8723F 16%, #F8723F 16%, #F35026 100%)
    height: auto
    position: relative
    padding-left: 0
    padding-right: 15px
    padding-top: 20px
    +mobile-large
      background-image: none
      background-color: #F97844
      
    

    figure
      margin: 10px 0px 0 0
      width: 62.5%
      height: 800px
      -webkit-background-size: cover
      background-size: cover
      mask-image: image_url('action_pages/car_image_mask.svg')
      -moz-mask-image: image_url('action_pages/car_image_mask.svg')
      -webkit-mask-image: image_url('action_pages/car_image_mask.svg')
      -webkit-mask-repeat: no-repeat
      -moz-mask-repeat: no-repeat
      mask-repeat: no-repeat
      mask-size: contain
      -moz-mask-size: contain
      -webkit-mask-size: contain
      display: inline-block
      float: left
      &.mobile
        display: none
      +tablet
        height: 540px
        width: 100%
      +mobile-large
        height: 280px
        margin-bottom: 30px
        &.desktop
          display: none
        &.mobile
          display: inline-block

    article
      width: 35%
      display: inline-block
      padding-left: 15px
      float: left
      font-size: 21px
      color: #FFFFFF
      line-height: 42px
      +tablet
        float: none
        margin: 15px auto
        display: block
        width: 80%
      h2
        font-size: 60px
        color: #FFFFFF
        line-height: 70px
        +mobile-large
          font-size: 40px
          line-height: 53px
      p
        +mobile-large
          font-size: 14px
          line-height: 22px

section.pros_akp
  div.wrapper
    background-image: image_url('action_pages/pros_akp.png')
    background-repeat: no-repeat
    background-position: top -900px center
    background-size: 100%
    height: auto
    text-align: left
    padding-top: 300px
    padding-bottom: 80px
    +desktop
      background-position: top -62vw center
    +tablet
      padding-top: 200px
    +mobile-large
      padding-top: 100px
    div.pros
      width: 90%
      margin: 0 auto
      ul.pros
        list-style: none
        width: 48%
        display: inline-block
        padding: 0 0 0 20px
        +desktop-small
          margin: 0 auto
          display: block
          width: 80%
        li
          font-size: 24px
          color: #09005D
          line-height: 36px
          padding: 30px 0 30px 80px
          background-position: left center
          background-repeat: no-repeat
          background-size: 50px
          +desktop
            &.spacer
              display: none
          +mobile-large
            font-size: 18px
            padding: 15px 0 15px 80px
          &.car
            background-image: image_url('action_pages/icons/cars.png')
          &.cert
            background-image: image_url('action_pages/icons/cert.png')
          &.badge
            background-image: image_url('action_pages/icons/badge.png')
          &.wrench
            background-image: image_url('action_pages/icons/wrench.png')
          &.hand
            background-image: image_url('action_pages/icons/hand.png')
          &.person
            background-image: image_url('action_pages/icons/person.png')
          &.moneybag
            background-image: image_url('action_pages/icons/moneybag.png')

section.rating
  padding: 0 15px
  div.wrapper
    border: 8px solid #F35026
    height: auto
    padding: 40px
    +mobile-large
      padding: 10px 20px
    &::after
      content: ''
      display: table
      clear: both
    div.right
      float: right
      text-align: left
      width: 60%
      +tablet
        width: auto
        text-align: center
        float: none
      h2
        font-size: 62px
        color: #F35026
        margin: 0 0 10px
        font-weight: 600
        line-height: 70px
        +mobile-large
          font-size: 40px
          line-height: 55px
      p
        font-size: 19px
        color: #4A4A4A
        line-height: 26px
        font-weight: 400
        margin: 0
      img.car_image
        width: 90%
        height: auto
        margin: 20px auto
      .btn
        background-image: linear-gradient(-180deg, #F35528 0%, #F71C1C 100%)
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25)
        float: right
        margin-right: 30px
        width: 380px
        +tablet
          float: none
          margin: 0 auto
        +mobile
          width: 100%
          font-size: 14px

    div.left
      width: 30%
      text-align: center
      float: left
      +tablet
        width: auto
        margin-top: 30px
        float: none
        display: flex
        justify-content: center
        align-items: center
      +mobile
        display: block

      figure
        width: 138px
        height: 138px
        -webkit-border-radius: 50%
        -moz-border-radius: 50%
        border-radius: 50%
        overflow: hidden
        margin: 0 auto
        +tablet
          display: inline-block
          margin-right: 30px
        +mobile-large
          width: 90px
          height: 90px
          margin-right: 10px
        img
          width: 100%
          height: auto
      div.rating_text
        padding: 30px
        margin: 25px 0
        border: 1px solid #DBDBDB
        font-size: 14px
        color: black
        line-height: 24px
        font-style: italic
        font-weight: 400
        +tablet
          min-width: 60%
          display: inline-block
        +mobile
          font-size: 10px
          line-height: 16px
        p
          margin-top: 25px
        blockquote
          margin: 15px 0
        small
          color: #F35026
          font-style: normal
          font-size: 14px
          +mobile
            font-size: 10px
            line-height: 16px
    p.warning
      font-size: 12px
      color: #060D5D
      line-height: 18px
      text-align: left
      font-weight: 400
      margin-top: -25px
      max-width: 400px
      +tablet
        margin-top: 25px
      +mobile
        font-size: 10px
        line-height: 16px
    div.clear
      clear: both

footer.action_page
  div.top
    height: 100px
    background-color: #F4F4F4
    div.wrapper
      display: flex
      justify-content: space-between
      flex-direction: row
      align-items: center
      height: 100px
      padding: 0 10px

      a.logo
        width: 25%
        max-width: 280px
        min-width: 180px
        display: flex
        justify-content: center
        align-items: center
        img
          width: 100%
          margin: 0

      ul.contact_icons
        list-style: none
        li
          display: inline-block
          a
            font-size: 16px
            color: #060D5D
            margin-left: 50px
            background-repeat: no-repeat
            background-position: left center
            line-height: 34px
            +desktop-small
              margin-left: 25px
            +mobile
              margin-left: 5px
            +ipad
              font-size: 0
            &.phone
              background-image: image-url('phone_icon.svg')
              padding-left: 27px
            &.whatsapp
              background-image: image-url('whatsapp_icon.svg')
              padding-left: 44px
            &.email
              background-image: image-url('mail_icon.svg')
              padding-left: 38px

  div.bottom
    background-color: #E9E9E9
    div.wrapper
      text-align: left
      div
        box-sizing: border-box
        ul
          list-style: none
          padding: 0
          li
            box-sizing: border-box