@font-face {
  font-family: 'bebas';
  src: asset-url('Bebas.eot');
  src: asset-url('Bebas.eot?#iefix') format('embedded-opentype'),
       asset-url('Bebas.woff') format('woff'),
       asset-url('Bebas.ttf') format('truetype'),
       asset-url('Bebas.svg#Bebas') format('svg');
  font-weight: normal;
  font-style: normal;
}