$main-font: 'Open Sans', sans-serif

//normal colors
$orange: #F35026
$marine: #09005D
$green-light: #22C064
$green-dark: #00B04A

//special colors
$menu-language-separator-color: #FFD0B6
$btn-separator-color: #FF7C59
