<div class="form-group form-group-default">
  <%= f.label :description %>
  <%= f.text_area :description, id: 'wysiwyg5', class: 'wysiwyg form-control', placeholder: 'Describe the brand..', required: true, style: 'height: 250px;' %>
</div>
