<footer class="action_page">
  <div class="top">
    <div class="wrapper">
      <a href="" class="logo">
        <%= image_tag 'logo_akp_1.png' %>
      </a>
      <ul class="contact_icons">
        <li><a href="" class="phone">+31 (0) 23 792 00 03</a></li>
        <li><a href="" class="whatsapp">WhatsApp 06 55 23 29 11</a></li>
        <li><a href="" class="email">info@autokredietplan.nl </a></li>
      </ul>
    </div>
  </div>
  <div class="bottom">

  </div>
</footer>