<div class="background" style="background-image: url('<%= action_page.banner_image.large.url %>');">
  <h1><%= action_page.banner_title %></h1>

  <p><%= action_page.banner_subtitle %></p>

  <%= link_to 'Ontdek het aanbod', action_page_path(action_page), class: 'btn' %>
</div>
