<!-- START PAGE COVER -->
<div class="container-fluid container-fixed-lg ">
  <ul class="breadcrumb">
    <li>
      <p><%= link_to 'Home', admin_root_path %></p>
    </li>
    <li><a href="<%= admin_top_reviews_path %>">Top reviews</a></li>
    <li><a href="#" class="active">Edit Top review</a></li>
  </ul>
  <!-- END BREADCRUMB -->
  <h3 class="page-title">Top reviews</h3>
</div>

<div class="container-fluid container-fixed-lg">
  <%= form_for @top_review, url: admin_top_review_path(@top_review), method: :put, html: {class: 'form'} do |f| %>
      <%= render 'form', f: f %>
  <% end %>
</div>

<% content_for :footer do %>
    <script>
      $(document).ready(function() {
        $('#wysiwyg5').wysihtml5();
      });
    </script>
<% end %>


