<section class="wizard-final">
  <div class="wrapper">

    <%= render 'wizards/steps', step: 4 %>

    <div class="check">
      <i class="icon steps-final"></i>
    </div> <!-- .check -->

    <h2>Bedankt, uw aanvraag is verstuurd.</h2>
    <h3>Wij zullen zsm reageren!</h3>

  </div> <!-- .wrapper -->
</section> <!-- .wizard-form -->
