<section class="wizard-final">
  <div class="wrapper">

    <%= render 'wizards/steps', step: 4 %>

    <div class="check">
      <i class="icon steps-final"></i>
    </div> <!-- .check -->

    <h2><%= StaticText.wizard_success_line_1 %></h2>
    <h3><%= StaticText.wizard_success_line_2 %></h3>

  </div> <!-- .wrapper -->
</section> <!-- .wizard-form -->
