.car-single

  .top
    overflow: hidden
    background-color: #EEEEEE

    +print
      background: none

    .wrapper
      overflow: hidden

      .padder
        position: relative
        padding-left: 65%

        +desktop-small
          padding-left: 65%

        +mobile-large
          padding-left: 0

        +print
          padding: 0

    figure
      position: absolute
      left: 0
      top: 0

      width: 65%
      height: 100%

      background: #333333

      margin: 0
      padding: 0

      +desktop-small
        width: 65%

      +mobile-large
        position: static
        float: none
        width: auto
        height: auto

      +print
        position: static
        float: none
        width: auto
        background: none

      .mbe-slider
        height: 100%

        ul
          list-style: none
          margin: 0
          padding: 0
          height: 100%

          -webkit-transform-style: preserve-3d
          -webkit-backface-visibility: hidden

          li
            margin: 0
            padding: 0
            background-color: #333333
            height: 100%

            position: relative

            img
              display: inline-block
              vertical-align: middle
              width: 100%
              height: auto

              max-height: 100%

              position: absolute
              left: 50%
              top: 50%
              +transform(translate(-50%, -50%))

              +mobile-large
                position: static
                +transform(none)

              +print
                position: static
                +transform(none)

            iframe,
            video
              display: block
              width: 100%
              height: 100%

      .bar
        padding: 15px
        height: 100%
        +box-sizing(border-box)

        background: rgba(0, 0, 0, 0.5)
        color: white

        position: absolute
        right: 0
        top: 0

        -webkit-transform-style: preserve-3d
        -webkit-backface-visibility: hidden

        +tablet
          display: none

        +print
          display: none

        .photos
          font-size: 14px
          line-height: 20px
          font-weight: 300

          border-top: 1px solid #979797
          border-bottom: 1px solid #979797

          padding: 15px 0 20px 0

          strong
            font-weight: 300

          .arrows
            margin: 20px 0 0 0
            text-align: center

            a
              display: block
              text-align: center

              &.arrow-right
                margin-top: 10px

        .can-swipe
          position: absolute
          right: 0
          bottom: 20px
          width: 100%
          text-align: center

        a.fullscreen
          display: block
          text-align: center
          margin-bottom: 20px

    .description
      padding: 50px
      padding-bottom: 85px
      +box-sizing(border-box)
      text-align: left

      color: #38393B

      -webkit-transform-style: preserve-3d
      -webkit-backface-visibility: hidden

      +tablet
        padding: 30px

      +print
        padding: 0

      h1
        font-size: 24px
        line-height: 46px
        font-weight: 400

        margin: 0 0 45px 0
        padding: 0

        +desktop-small
          font-size: 20px
          line-height: 40px

        +tablet
          margin-bottom: 25px

        +mobile
          font-size: 20px
          line-height: 40px

        +print
          margin: 15px 0

      dl
        overflow: hidden
        margin: 0 0 125px 0
        padding: 0

        font-size: 30px
        line-height: 62px

        +desktop-small
          margin-bottom: 100px

          font-size: 24px
          line-height: 50px

        +tablet
          margin-bottom: 60px

        +mobile
          margin-bottom: 30px

        +print
          margin: 0

        dt
          float: left
          width: 55%
          text-align: left

          margin: 0
          padding: 0
          font-size: 28px
          line-height: 62px
          font-weight: 300

          overflow: hidden
          white-space: nowrap
          text-overflow: ellipsis

          small
            font-size: 21px

            +tablet
              font-size: 18px

          +desktop-small
            font-size: 24px
            line-height: 50px

          +tablet
            font-size: 18px
            line-height: 42px

          +print
            font-size: 18px
            line-height: 30px
            width: 25%

        dd
          float: right
          width: 45%
          text-align: left

          margin: 0
          padding: 0
          font-weight: 400
          color: $orange

          overflow: hidden
          white-space: nowrap
          text-overflow: ellipsis

          +tablet
            font-size: 18px
            line-height: 42px

          +print
            font-size: 18px
            line-height: 30px
            width: 75%

      .buttons
        a.btn
          width: 100%
          display: block
          margin-top: 7px

          +box-sizing(border-box)

          white-space: nowrap
          text-overflow: ellipsis
          overflow: hidden

          &:first-child
            margin-top: 0

  .image-list
    background-color: #E6E6E6
    padding: 10px 0

    +mobile-large
      display: none

    +print
      display: none

    ul
      list-style: none
      margin: 0
      padding: 0

      overflow: auto
      text-align: left
      white-space: nowrap
      -webkit-overflow-scrolling: touch

      li
        margin: 0 0 0 10px
        padding: 0

        display: inline-block
        vertical-align: middle
        border: 4px solid #E6E6E6

        &:hover,
          border-color: $marine
        &.selected
          border-color: $orange

        img
          width: 200px
          height: 150px

          display: inline-block
          vertical-align: middle
          background-color: #333333

          +desktop-small
            width: 150px
            height: auto

  .links
    font-size: 24px
    line-height: 32px
    font-weight: 300
    color: $marine

    +desktop-small
      font-size: 18px
      line-height: 26px

    +print
      display: none

    .wrapper
      padding: 35px 65px
      text-align: left

      +desktop-small
        padding: 25px 40px

      +tablet
        padding: 15px 30px

      &::after
        content: ''
        display: block
        clear: both
        font-size: 0
        line-height: 0
        height: 0

    .share
      float: right
      color: $marine

      a
        display: inline-block
        vertical-align: middle

      +mobile-large
        float: none
        margin-bottom: 15px
        display: none

      .dots
        margin-left: 15px
        position: relative

        display: inline-block
        vertical-align: middle

        .share-networks
          position: absolute
          bottom: 50px
          right: 0
          width: 50px
          z-index: 1
          font-size: 0

          display: none

          &.visible
            display: block

    a.link
      color: $marine
      text-decoration: none
      margin: 6px 120px 0 0

      +desktop-small
        margin-right: 60px

      &:last-child
        margin-right: 0

      &::after
        content: ''
        margin-left: 15px

        @extend .icon
        @extend .icon.arrow-blue-right-big

      +tablet-small
        display: block

  .specifications
    background-color: #EEEEEE

    +print
      background: none
      color: #333333
      margin-top: 25px

    .wrapper
      padding: 65px
      text-align: left

      +desktop-small
        padding: 40px

      +tablet
        padding: 30px

      +print
        padding: 0

    h2
      font-size: 36px
      line-height: 49px
      font-weight: 500
      color: $marine

      margin: 0 0 45px 0
      padding: 0

      +tablet
        font-size: 24px
        line-height: 36px
        margin-bottom: 20px

      +mobile
        font-size: 20px
        line-height: 32px
        margin-bottom: 15px

      +print
        font-size: 20px
        line-height: 32px
        margin-bottom: 15px
        color: #333333

    .right
      float: right
      width: 400px
      margin-top: 50px

      +desktop-small
        width: 300px

      +tablet
        display: none

      +print
        display: none

      .block
        background-color: white
        padding: 50px
        text-align: center
        margin: 30px 0 0 0

        +desktop
          padding: 35px

        +desktop-small
          padding: 30px

        &:first-child
          margin-top: 0

        img
          max-width: 100%
          height: auto

    dl
      margin: 0
      padding: 0
      overflow: hidden

      font-size: 18px
      line-height: 32px
      font-weight: 300
      color: $marine

      +desktop-small
        font-size: 16px
        line-height: 30px

      +mobile
        font-size: 14px
        line-height: 28px

      +print
        font-size: 14px
        line-height: 28px
        color: #333333

      dt
        float: left
        width: 25%
        font-weight: 400

        margin: 0
        padding: 0

        +tablet
          width: 30%

        +tablet-small
          width: 45%

        +print
          width: 25%

      dd
        float: left
        width: 75%

        margin: 0
        padding: 0

        +tablet
          width: 65%

        +tablet-small
          width: 55%

        +print
          width: 75%

    .description
      clear: both
      margin-top: 100px

      font-size: 18px
      line-height: 32px
      font-weight: 300

      +desktop-small
        font-size: 16px
        line-height: 30px

      +tablet
        margin-top: 40px

      +print
        margin-top: 25px
        font-size: 14px
        line-height: 28px

  .accesories
    background-color: white

    font-size: 18px
    line-height: 42px
    font-weight: 300
    color: #38393B

    +mobile
      font-size: 14px
      line-height: 30px

    +print
      background: none
      font-size: 14px
      line-height: 30px

    .wrapper
      padding: 90px 65px 40px 65px
      text-align: left

      +desktop-small
        padding: 70px 40px 30px 40px

      +tablet
        padding: 30px 30px 20px 30px

      +print
        padding: 0

    h2
      font-size: 36px
      line-height: 49px
      font-weight: 500
      color: $marine

      margin: 0 0 35px 0
      padding: 0

      +desktop-small
        font-size: 28px
        line-height: 40px
        margin-bottom: 25px

      +tablet
        font-size: 24px
        line-height: 36px
        margin-bottom: 20px

      +mobile
        font-size: 20px
        line-height: 32px
        margin-bottom: 15px

      +print
        font-size: 20px
        line-height: 32px
        margin-bottom: 15px
        color: #333333

    ul
      list-style: none
      margin: 0
      padding: 0
      overflow: hidden

      li
        margin: 0
        padding: 0

        float: left
        width: 50%

        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis

        &::before
          content: ''
          margin: 0 15px 0 0

          @extend .icon
          @extend .icon.list-check

          +print
            content: '●'
            background: none
            width: auto
            display: inline
            margin-right: 5px

        +tablet-small
          float: none
          width: auto
          white-space: normal

        +mobile
          position: relative
          padding-left: 35px

          &::before
            position: absolute
            left: 0
            top: 4px

    .footer
      text-align: right

      +print
        display: none

.fullscreen
  .car-single
    .top
      figure
        position: fixed
        left: 0
        top: 0
        width: 100%
        height: 100%
        z-index: 100