.new-cars
	background-image: linear-gradient(#FFFFFF 0%, #F0F0F0 79%)
	text-align: center

	.wrapper
		padding: 65px 65px 10px 65px

		+desktop-small
			padding: 50px 40px 10px 40px

		+tablet
			padding: 30px 30px 10px 30px

	h2
		margin: 0 0 15px 0
		padding: 0 240px

		font-size: 36px
		line-height: 48px

		+desktop
			padding: 0 120px

		+desktop-small
			padding: 0 80px
			font-size: 28px

		+tablet
			padding: 0 40px

	p
		margin: 35px 0
		padding: 0 240px
		font-size: 20px
		line-height: 36px

		&.text
			margin-top: 15px

		+desktop
			padding: 0 120px

		+desktop-small
			padding: 0 80px
			font-size: 16px
			line-height: 30px

		+tablet
			padding: 0 40px

	ul.cars
		li
			margin-bottom: 0

			+tablet
				margin-bottom: 30px

				&:last-child
					margin-bottom: 0
