.private-financing
	background: #E9E9E9
	text-align: center

	.wrapper
		padding: 65px 65px 45px 65px

		+desktop-small
			padding: 50px 40px 40px 40px

		+tablet
			padding: 50px 30px 30px 30px

	h2
		margin: 0 0 15px 0
		padding: 0 240px

		font-size: 36px
		line-height: 48px

		+desktop
			padding: 0 120px

		+desktop-small
			font-size: 28px
			padding: 0 40px

	p
		margin: 35px 0
		padding: 0 240px
		font-size: 20px
		line-height: 36px

		+desktop
			padding: 0 120px

		+desktop-small
			font-size: 16px
			line-height: 28px
			padding: 0 40px

			margin: 25px 0 40px 0

	.slider-container
		background: white
		padding: 140px 150px 50px 150px

		+desktop-small
			padding: 120px 80px 50px 80px

		+tablet
			padding: 90px 40px 30px 40px

		h3
			font-family: $main-font
			font-size: 36px
			line-height: 49px
			font-weight: 300
			color: $marine

			margin: 75px 0 0 0
			padding: 0

			+desktop-small
				font-size: 28px
				line-height: 38px

			+tablet
				font-size: 22px
				line-height: 32px

		a.btn
			margin-top: 30px

	.footer
		padding-bottom: 15px

		+tablet
			padding: 15px 0 0 0
