.stock
	background: #f3f3f3
	text-align: center

	.wrapper
		padding: 50px 65px 0 65px

		+desktop-small
			padding: 35px 40px 0 40px

	h2
		margin: 0 0 18px 0
		padding: 0 240px

		font-size: 36px
		line-height: 48px

		+desktop-small
			font-size: 28px
			line-height: 40px

	p
		margin: 18px 0 0 0
		padding: 0 240px
		font-size: 20px
		line-height: 36px

		+desktop-small
			padding: 0 120px

	.slider-container
		background: white
		padding: 140px 150px 50px 150px

		h3
			font-family: $main-font
			font-size: 36px
			line-height: 49px
			font-weight: 300
			color: $marine

			margin: 75px 0 0 0
			padding: 0

			+desktop-small
				font-size: 28px
				line-height: 40px
				margin-top: 60px

		a.btn
			margin-top: 30px

	.footer
		padding-bottom: 15px
