<section class="not_found">
  <div class="wrapper">
    <div class="upper">
      <p>U bevind zich: Home • <b>500 pagina</b></p>
    </div>
  </div>

  <div class="main">
    <div class="error_pagina">
      <h2>500 pagina</h2>
      <p>Helaas is er een error opgetreden. Als dit probleem zich voor blijft doen neem dan contact met ons op.
        Ons excuus voor het ongemak.</p>
    </div>
    <a class="btn btn-small btn-full-width" href="/cars/financing/private">Homepage</a>
  </div>
</section>

<%= render partial: 'layouts/footer_complex' %>
