<div class="form-group form-group-default">
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>
</div>
<div class="form-group form-group-default">
  <%= f.label :content %>
  <%= f.text_area :content, id: 'wysiwyg5', class: 'wysiwyg form-control', placeholder: 'Type something..', style: 'height: 250px;' %>
</div>