<!-- START PAGE COVER -->
<div class="container-fluid container-fixed-lg ">
  <ul class="breadcrumb">
    <li>
      <p><%= link_to 'Home', admin_root_path %></p>
    </li>
    <li><a href="#" class="active">Statische Text</a></li>
  </ul>
  <!-- END BREADCRUMB -->
  <h3 class="page-title">Statische Text</h3>
</div>

<div class="container-fluid container-fixed-lg">
  <%= form_tag update_multiple_admin_static_texts_path, method: :put do %>
      <table id="myDataTable" class="table table-hover" cellspacing="0" width="100%">
        <thead>
        <tr>
          <th>Sleutelwoord</th>
          <th>Text</th>
        </tr>
        </thead>

        <%= render partial: 'admin/static_texts/static_text', collection: @static_texts %>

        <tbody>

        </tbody>
      </table>

      <button class="btn btn-primary btn-animated from-left fa fa-check" type="submit">
        <span style="height: 21px;">Checkbox</span>
      </button>


  <% end %>
</div>

<% content_for :footer do %>
<% end %>