.article-header
	padding: 60px 0 40px 0
	background-color: #F3F3F3

	.wrapper
		padding: 0 120px

	figure
		display: block
		margin: 0
		padding: 0

		img
			display: block
			width: 100%
			height: auto

	.text
		padding: 60px 0 120px 0
		background-color: white
		text-align: left

		&.marine
			background-color: $marine
			color: white

		h1
			margin: 0 0 32px 0
			padding: 0 50px

			font-size: 26px
			line-height: 36px
			font-weight: normal

		.description
			padding: 0 50px
			font-size: 18px
			line-height: 32px

			p
				margin: 32px 0

				&:first-child
					margin-top: 0
				&:last-child
					margin-bottom: 0
