.blog-header
	color: $marine
	background-color: #F3F3F3

	.wrapper
		padding: 90px 120px 105px 120px

		+desktop-small
			padding: 60px 80px 70px 80px

		+tablet
			padding: 30px 40px

		+mobile
			padding: 30px

	h1
		font-size: 36px
		font-weight: normal
		text-align: center

		margin: 0 0 15px 0
		padding: 0

		+desktop-small
			font-size: 28px

		+mobile-large
			font-size: 24px

		+mobile
			font-size: 22px

	.description
		font-weight: 300
		font-size: 20px
		text-align: center

		+desktop-small
			font-size: 16px

		+tablet
			font-size: 14px

		p
			margin: 36px 0
			padding: 0

			&:first-child
				margin-top: 0
			&:last-child
				margin-bottom: 0
