header.main
  position: relative
  z-index: 10
  div.top
    height: 100px

    div.wrapper
      display: flex
      justify-content: space-between
      flex-direction: row
      align-items: center
      height: 100px

      a.logo
        width: 25%
        max-width: 360px
        img
          width: 100%

      ul.contact_icons
        list-style: none
        li
          display: inline-block
          a
            font-size: 16px
            color: #060D5D
            margin-left: 50px
            background-repeat: no-repeat
            background-position: left center
            line-height: 34px
            &.phone
              background-image: image-url('phone_icon.png')
              padding-left: 27px
            &.whatsapp
              background-image: image-url('whatsapp_icon.png')
              padding-left: 44px
            &.email
              background-image: image-url('email_icon.png')
              padding-left: 38px

  div.bottom
    height: 50px
    background-color: #F35026
    position: relative
    div.wrapper
      display: flex
      justify-content: space-between
      flex-direction: row
      align-items: center
      height: 50px
      > ul
        list-style: none
        padding: 0
        &.right_menu
          li.search
            a
              padding-left: 35px
              background: image-url('menu_search.png') no-repeat left center
          li.language-switch

        > li
          display: block
          float: left
          height: 42px
          padding: 0 50px 0 40px
          border-left: 1px solid #FC8161
          position: relative
          &:hover
            &::after
              content: ''
              display: block
              position: absolute
              bottom: -8px
              left: 0
              right: 0
              height: 4px
              background-color: #060D5D
              z-index: 20
          &:last-child
            border-right: 1px solid #FC8161
          span, a
            font-size: 16px
            color: #FFFFFF
            line-height: 28px
            font-weight: 400
            cursor: pointer
            padding: 0
          a
            &.arrow
              position: relative
              &::after
                content: ''
                display: block
                width: 10px
                height: 7px
                background: image-url('menu_arrow_icon.png') no-repeat center center
                position: absolute
                right: -15px
                top: 13px
              
          > ul
            display: none

  div.menu
    position: absolute
    top: 150px
    width: 100%
    div.wrapper
      padding: 0
      background: #fff
      text-align: left
      padding-left: 136px
      hr
        width: 1px
        height: 44px
        background: #FC8161
        margin-top: 28px
        float: left
        outline: none
        border: none
      ul
        list-style: none
        padding: 0
        float: left
        &.stock_menu
          width: 160px
        &.financing
          width: 199px
        &.about_financing
          width: 250px
        li
          font-size: 13px
          color: #09004A
          line-height: 26px
          padding-left: 30px
          a
            &:hover,
            &:active
              color: #F35026






