<ul class="menu-items">
  <li class="m-t-30">
    <a href="<%= admin_cars_path %>" class="detailed">
      <span class="title">Cars</span>
      <span class="details"><%= @total_cars.to_s %> auto <%= @total_cars > 1 ? '\'s' : '' %> in systeem</span>
    </a>
    <span class="icon-thumbnail "><i class="fs-14 fa fa-bars"></i></span>
  </li>
  <li class="">
    <a href="<%= admin_static_texts_path %>">
      <span class="title">Statische Text</span>
    </a>
    <span class="icon-thumbnail "><i class="fs-14 fa fa-font"></i></span>
  </li>
  <li class="">
    <a href="javascript:;">
      <span class="title">Page 3</span>
      <span class=" arrow"></span>
    </a>
    <span class="icon-thumbnail"><i class="pg-grid"></i></span>
    <ul class="sub-menu">
      <li class="">
        <a href="#">Sub Page 1</a>
        <span class="icon-thumbnail">sp</span>
      </li>
      <li class="">
        <a href="#">Sub Page 2</a>
        <span class="icon-thumbnail">sp</span>
      </li>
      <li class="">
        <a href="#">Sub Page 3</a>
        <span class="icon-thumbnail">sp</span>
      </li>
    </ul>
  </li>
</ul>