<section class="search-description">
  <div class="wrapper">

    <h1><%= brand.name %></h1>

    <div class="description">
      <p><%= brand.description %></p>
    </div> <!-- .description -->

  </div> <!-- .wrapper -->
</section> <!-- .search-description -->
