<ul class="car-filters">
  <li><a data-field="price" data-order="asc" href=""><%= StaticText.filter_by_price_asc %></a></li>
  <li><a data-field="price" data-order="desc" href=""><%= StaticText.filter_by_price_desc %></a></li>
  <li><a data-field="name" data-order="asc" href=""><%= StaticText.filter_by_name_asc %></a></li>
  <li><a data-field="name" data-order="desc" href=""><%= StaticText.filter_by_name_desc %></a></li>
</ul>