<section class="financing-icons">
  <div class="wrapper">

    <ul>
      <li>
        <a href="">
          <span class="icon-wrapper"><i class="icon euro-white-big"></i></span>
          <strong>Laagste prijs garantie</strong>
        </a>
      </li>

      <li>
        <a href="">
          <span class="icon-wrapper"><i class="icon thumbsup-white-big"></i></span>
          <strong>Geen schadevrije jaren vereist</strong>
        </a>
      </li>

      <li>
        <a href="">
          <span class="icon-wrapper"><i class="icon people-white-big"></i></span>
          <strong>Geen leeftijdsbeperking</strong>
        </a>
      </li>

      <li>
        <a href="">
          <span class="icon-wrapper"><i class="icon handshake-white-big"></i></span>
          <strong>Tussentijdse afkoop mogelijk</strong>
        </a>
      </li>

      <li>
        <a href="">
          <span class="icon-wrapper"><i class="icon layers-white-big"></i></span>
          <strong>Transparant</strong>
        </a>
      </li>
    </ul>

    <div class="footer">
      <i class="icon arrow-orange-down"></i>
    </div> <!-- .footer -->

  </div> <!-- .wrapper -->
</section> <!-- .financing-icons -->
