<section class="action_banner">
  <div class="wrapper" style="background-image: url('<%= action_page.banner_image.large.url %>');">

    <h1 class="animated lightSpeedIn"><%= action_page.banner_title %></h1>

    <p class="animated lightSpeedIn"><%= action_page.banner_subtitle %></p>

    <a class="btn btn-big animated bounceInUp">Ontdek het aanbod</a>
  </div>

  <div class="footer">
    <i class="icon arrow-orange-down"></i>
  </div>
  <!-- .footer -->

</section>
