<section class="private-financing">
  <div class="wrapper">

    <h2>Particulier Financieren</h2>

    <p>
      Elke week kopen wij jonge gebruikte auto’s in. Ruimte voor 1 a 2 regels tekst. <br/>
      Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla.
    </p>

    <div class="slider-container">

      <div class="slider-range" data-min="0" data-max="1000" data-default="250-750"></div>

      <h3>Ik wil uitgeven per maand</h3>

      <a class="btn btn-big">Ondek het aanbod</a>
    </div> <!-- .range-slider -->

  </div> <!-- .wrapper -->
</section> <!-- .private-financing -->
