<section class="other-cars">
  <div class="wrapper">
    <h2>Gerelanteerde auto's</h2>

    <ul class="cars">

      <%= render cars %>

    </ul>
  </div> <!-- .wrapper -->
</section> <!-- .other-cars -->
