<section class="other-cars">
  <div class="wrapper">
    <h2><%= StaticText.car_single_related_cars %>/h2>

    <ul class="cars">

      <%= render cars %>

    </ul>
  </div> <!-- .wrapper -->
</section> <!-- .other-cars -->
