<section class="service" style="background-image: url(<%= image_path 'service_bg.jpg' %>);">
  <div class="wrapper">

    <h2><%= StaticText.home_service_head %></h2>

    <p>
      <%= StaticText.home_service_head_content %>
    </p>

    <div class="tabs">
      <div class="tab-header">
        <a href="#tab-1" data-tab="1" class="selected">Voordelen<br/>Auto krediet Plan</a>
        <a href="#tab-2" data-tab="2">Referentie<br/>van onze klanten</a>
        <a href="#tab-3" data-tab="3">Inschrijven<br/>nieuwsbrief</a>
      </div>  <!-- .tab-header -->

      <div class="tab-content">
        <div class="tab tab-1 visible">
          <ul class="checks">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Dolor molestias, nesciunt </li>
            <li>Vero fuga, perspiciatis nisi sint,</li>
            <li>Facilis explicabo dolorum nostrum.</li>
            <li>Quo quibusdam eveniet, dolorum,</li>
            <li>Eius, saepe eum est inventore voluptas</li>
            <li>Facilis explicabo dolorum nostrum.</li>
            <li>Quo quibusdam eveniet, dolorum,</li>
          </ul>
        </div>

        <div class="tab tab-2 reviews">
          <a class="more" href="">
            Meer referentie's of referentie schrijven
          </a> <!-- .more -->

          <h3>
            9.5/10
            <i class="icon star-full-big"></i>
            <i class="icon star-full-big"></i>
            <i class="icon star-full-big"></i>
            <i class="icon star-full-big"></i>
            <i class="icon star-half-big"></i>
          </h3>
          <div class="subheader">
            <a href="">Uitstekend</a> | <a href="">9 beoordelingen</a>
          </div> <!-- .subheader -->

          <ul>
            <li>
              <article>
                <div class="stars">
                  <i class="icon star-full-small"></i>
                  <i class="icon star-full-small"></i>
                  <i class="icon star-full-small"></i>
                  <i class="icon star-full-small"></i>
                  <i class="icon star-empty-small"></i>
                </div>

                <h1>Abdel Reghioui</h1>
                <div class="description">
                  <p>Mooie auto’s! Eerlijk advies! Juiste prijs en top service!</p>
                </div>
                <footer><em>03-03-2015</em></footer>
              </article>
            </li>

            <li>
              <article>
                <div class="stars">
                  <i class="icon star-full-small"></i>
                  <i class="icon star-full-small"></i>
                  <i class="icon star-full-small"></i>
                  <i class="icon star-full-small"></i>
                  <i class="icon star-empty-small"></i>
                </div>

                <h1>Abdel Reghioui</h1>
                <div class="description">
                  <p>Mooie auto’s! Eerlijk advies! Juiste prijs en top service!</p>
                </div>
                <footer><em>03-03-2015</em></footer>
              </article>
            </li>

          </ul>
        </div>

        <div class="tab tab-3 newsletter-subscribe">
          <h3>Inschrijven nieuwsbrief</h3>

          <p>Laat hier je gegevens achter en wij houden u op de hoogte van onze actie’s.</p>

          <form action="" method="post">
            <input class="text first-name" type="text" name="first_name" placeholder="Voornaam" />
            <input class="text last-name" type="text" name="last_name" placeholder="Achternaam" />

            <input class="text email" type="email" name="email" placeholder="Email adres" />
            <button class="btn submit" type="submit">Verzenden</button>
          </form>
        </div>
      </div>  <!-- .tab-content -->
    </div> <!-- .tabs -->

    <div class="footer">
      <i class="icon arrow-white-down-big"></i>
    </div> <!-- .footer -->

  </div> <!-- .wrapper -->
</section> <!-- .service -->
