<div class="title">
  <a class="right" href="">
    Filters
    <i class="icon arrow-blue-down"></i>
  </a>

  <h2>
    <em><%= @cars.length %> <%= (@cars.length > 1 or @cars.length == 0) ? 'resultaten' : 'resultaat' %></em>
  </h2>

  <div class="submenu">
    <ul>
      <li><a data-field="price" data-order="asc" href="">By price asc</a></li>
      <li><a data-field="price" data-order="desc" href="">By price desc</a></li>
      <li><a data-field="name" data-order="asc" href="">By name asc</a></li>
      <li><a data-field="name" data-order="desc" href="">By name desc</a></li>
    </ul>
  </div>
</div> <!-- .title -->
<% unless @cars.any? %>
    <h2><%= StaticText.no_search_results %></h2>
<% end %>


<ul class="cars">

  <%= render @cars %>

</ul>
