<table id="myDataTable" class="table table-hover" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th>Foto</th>
    <th>Email</th>
    <th>Telefoon</th>
    <th>Auto</th>
    <th>Datum</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% car_requests.each do |car_request| %>
      <%= render partial: :car_request, car_request: car_request %>
  <% end %>
  </tbody>
</table>