<section class="breadcrumb">
    <div class="wrapper">
        U bevind zich:

        <ul>
          <%= render_breadcrumbs tag: 'li', separator: '' %>
        </ul>

    </div> <!-- .wrapper -->
</section> <!-- .breadcrumb -->
