<section class="breadcrumb">
    <div class="wrapper">
        U bevind zich:

        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Financieringen</a></li>
            <li><a class="selected" href="">Particuliere financieringen</a></li>
        </ul>

    </div> <!-- .wrapper -->
</section> <!-- .breadcrumb -->
