
<a class="go-to-top" href="#go-to-top">
  <i class="icon back-to-top"></i>
</a>

<div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'nl', includedLanguages: 'de,en,es,fr,nl,tr', autoDisplay: false, multilanguagePage: true}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>

<!-- live chat plugin -->
<link type="text/css" rel="stylesheet" href="//www.loquendo.nl/loquendo/chat/v1/loquendo.css" />
<script type="text/javascript" src="//www.loquendo.nl/loquendo/chat/v1/loquendo.js"></script>
<script type="text/javascript">
    Loquendo.init({
        client_id: 58,
        site_id: 108,
        slider: { tabLocation: "bottom" },
        className: "loquendo-orange"
    });
</script>

<!-- google analytics -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-55394434-2', 'auto');
    ga('send', 'pageview');

</script>

<!-- User Heat Tag -->
<script type="text/javascript">
  (function(add, cla){window['UserHeatTag']=cla;window[cla]=window[cla]||function(){(window[cla].q=window[cla].q||[]).push(arguments)},window[cla].l=1*new Date();var ul=document.createElement('script');var tag = document.getElementsByTagName('script')[0];ul.async=1;ul.src=add;tag.parentNode.insertBefore(ul,tag);})('//uh.nakanohito.jp/uhj2/uh.js', '_uhtracker');_uhtracker({id:'uh6uOYp2nm'});
</script>
<!-- End User Heat Tag -->

<script type="text/javascript">
  var _mfq = _mfq || [];
  (function() {
    var mf = document.createElement("script");
    mf.type = "text/javascript"; mf.async = true;
    mf.src = "//cdn.mouseflow.com/projects/76ead6c4-5a3d-4a8d-acdf-5fc181ac7411.js";
    document.getElementsByTagName("head")[0].appendChild(mf);
  })();
</script>

<!-- facebook -->
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '545333445620180',
            xfbml      : true,
            version    : 'v2.3'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

</body>
</html>
