<footer class="main complex">
    <div class="wrapper">

        <a class="go-to-top" href="#go-to-top">
            <i class="icon back-to-top"></i>
        </a>

        <div class="cols col-1">
            <a class="menu" href="#menu">
                <i class="icon menu-button"></i>
                Menu
            </a>

            <ul>
                <li><a href="">Algemene voorwaarden</a></li>
                <li><a href="">Disclaimer</a></li>
            </ul>

            <div class="social-media">
                <h2>Share on social media</h2>

                <p>
                    <a href="https://facebook.com" target="_blank"><i class="icon facebook"></i></a>
                    <a href="https://twitter.com" target="_blank"><i class="icon twitter"></i></a>
                    <a href="https://plus.google.com" target="_blank"><i class="icon google-plus"></i></a>
                    <a href="https://pinterest.com" target="_blank"><i class="icon pinterest"></i></a>
                    <a href="mailto:" target="_blank"><i class="icon mail"></i></a>
                </p>
            </div> <!-- .social-media -->
        </div> <!-- .col-1 -->

        <div class="cols col-2">
            <h2>Contact</h2>

            <address>
                Auto Krediet Plan<br/>
                Munterslaan 2<br/>
                2014 KW Haarlem
            </address>
            <p>
                <a href="" class="plan" target="_blank">Plan route</a>
            </p>
            <p>&nbsp;</p>
            <p>
                T. <a href="tel:0031237920003">023 792 00 03</a>
            </p>
            <p>
                E. <a href="mailto:info@autokredietplan.nl" target="_blank">info@autokredietplan.nl</a>
            </p>
            <p>
                F. <a href="www.facebook.com/autokrietplan" target="_blank">www.facebook.com/autokrietplan</a>
            </p>
        </div> <!-- .col-2 -->

        <div class="cols col-3">
            <h2>Openingstijden</h2>

            <dl>
                <dt>Maandag t/m vrijdag</dt>
                <dd>Van 9.00 tot 18.00</dd>

                <dt>Zaterdag</dt>
                <dd>Van 9.00 tot 17.00</dd>

                <dt>Zondag</dt>
                <dd>Open van 12:00 tot 16.00</dd>
            </dl>
        </div> <!-- .col-3 -->

    </div> <!-- .wrapper -->
</footer> <!-- .main -->
