
<a class="go-to-top" href="#go-to-top">
  <i class="icon back-to-top"></i>
</a>

<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>




<!-- Google Analytics goes here -->
</body>
</html>
