<form action="" class="search advanced-open">

  <div class="advanced">

    <div class="row row-1">
      <p class="select">
        <select class="search-advanced-brand" name="brand">
          <option value="">Selecteer merk</option>
          <option value="audi">Audi</option>
          <option value="mercedes">Mercedes</option>
        </select>
      </p> <!-- .select -->

      <p class="select">
        <select class="search-advanced-model" name="model">
          <option value="">Selecteer model</option>
        </select>
      </p> <!-- .select -->

      <p class="select">
        <select class="search-advanced-usage" name="usage">
          <option value="">Kilometerstand</option>
          <option value="">10 000 km</option>
          <option value="">10 000 km - 20 000 km</option>
          <option value="">20 000 km - 50 000 km</option>
        </select>
      </p> <!-- .select -->
    </div> <!-- .row-1 -->

    <div class="row row-2">
      <p class="select">
        <select class="search-advanced-fuel" name="fuel">
          <option value="">Selecteer brandstof</option>
          <option value="">Diesel</option>
          <option value="">Gas</option>
          <option value="">Hybride</option>
        </select>
      </p> <!-- .select -->

      <p class="select">
        <select class="search-advanced-year" name="year">
          <option value="">Selecteer bouwjaar</option>
          <option value="">1990</option>
          <option value="">1991</option>
          <option value="">1992</option>
          <option value="">1993</option>
        </select>
      </p> <!-- .select -->

      <p class="select">
        <select class="search-advanced-energy" name="energy">
          <option value="">Energie label</option>
          <option value="">A</option>
          <option value="">B</option>
          <option value="">C</option>
        </select>
      </p> <!-- .select -->
    </div> <!-- .row-2 -->

    <ul class="car-types">
      <li class="hatchback selected">
        <a href="">Hatchback</a>
      </li>
      <li class="wagon">
        <a href="">Stationwagen</a>
      </li>
      <li class="sedan">
        <a href="">Sedan</a>
      </li>
      <li class="coupe">
        <a href="">Coupe</a>
      </li>
      <li class="suv">
        <a href="">SUV</a>
      </li>
      <li class="mpv">
        <a href="">MPV</a>
      </li>
      <li class="cabriolet">
        <a href="">Cabriolet</a>
      </li>
    </ul> <!-- .car-type -->

    <div class="sliders">

      <div class="slider-container left">
        <h5>Selecteer op prijs</h5>

        <div class="slider-range" data-min="0" data-max="1000" data-default="250-750"></div>
      </div> <!-- .slider-container -->

      <div class="slider-container right">
        <h5>Selecteer op prijs per maand v.a.</h5>

        <div class="slider-range" data-min="0" data-max="1000" data-default="250-750"></div>
      </div> <!-- .slider-container -->

      <div class="clear"></div> <!-- .clear -->

    </div> <!-- .sliders -->
  </div> <!-- .advanced -->

  <div class="simple">

    <div class="left">
      <div class="input-wrapper">
        <input type="text" value="" class="text" placeholder="Zoek op; merk, model, type" />
      </div> <!-- .input-wrapper -->
      <small>Type hierboven: Merk, Model, Type</small>
    </div> <!-- .left -->

    <div class="right">
      <button class="btn">
        Zoeken
      </button>
      <small>
        <a href="" class="more">
          Meer zoekcriteria
          <i class="icon arrow-blue-down-small"></i>
        </a>
        <a href="" class="less">
          Minder zoekcriteria
          <i class="icon arrow-blue-up-small"></i>
        </a>
      </small>
    </div> <!-- .right -->

  </div> <!-- .simple -->

</form> <!-- .search -->
