<!--[if lt IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<header class="main">

  <div class="top">
    <div class="wrapper">
      <a href="" class="logo">
        <%= image_tag 'logo_akp_1.png' %>
      </a>
      <ul class="contact_icons">
        <li><a href="" class="phone">+31 (0) 23 792 00 03</a></li>
        <li><a href="" class="whatsapp">WhatsApp 06 55 23 29 11</a></li>
        <li><a href="" class="email">info@autokredietplan.nl </a></li>
      </ul>
    </div>
  </div>

  <div class="bottom">
    <div class="wrapper">
      <ul class="left_menu">
        <li>
          <%= link_to 'Home', root_path %>
        </li>
        <li>
          <a class="arrow">Voorraad</a>
        </li>
        <li>
          <a class="arrow">Financieringen</a>
        </li>
        <li>
          <a class="arrow">Alles over financieren</a>
        </li>
        <li class="arrow">
          <a>Contact</a>
        </li>
      </ul>
      <ul class="right_menu">
        <li class="search">
          <a href="">Auto zoeken</a>
        </li>
        <li class="language-switch">
          <h4 data-lang="nl">
            Nederlands
            <i class="icon arrow-white-down-small"></i>
          </h4>

          <div class="submenu">
            <ul>
              <li>
                <a href="#change-dutch" class="selected" data-lang="nl">Dutch</a>
              </li>
              <li>
                <a href="#change-english" data-lang="en">English</a>
              </li>
              <li>
                <a href="#change-german" data-lang="de">German</a>
              </li>
              <li>
                <a href="#change-french" data-lang="fr">French</a>
              </li>
              <li>
                <a href="#change-spanish" data-lang="es">Spanish</a>
              </li>
              <li>
                <a href="#change-turkish" data-lang="tr">Turkish</a>
              </li>
            </ul>
          </div>
          <!-- .submenu -->
        </li>
      </ul>

    </div>
    <!-- wrapper -->
  </div>
  <!-- bottom -->
  <div class="menu container-fluid">
    <div class="wrapper row">
      <ul class="stock_menu col-md-3 col-sm-6">
        <li class="head">Voorraad</li>
        <li><a href="">Alfa romeo (2)</a></li>
        <li><a href="">Alfa romeo (2)</a></li>
        <li><a href="">Alfa romeo (2)</a></li>
        <li><a href="">Alfa romeo (2)</a></li>
        <li><a href="">Alfa romeo (2)</a></li>
        <li><a href="">Alfa romeo (2)</a></li>
        <li><a href="">Alfa romeo (2)</a></li>
        <li><a href="">Alfa romeo (2)</a></li>
        <li><a href="">Alfa romeo (2)</a></li>
        <li><a href="">Alfa romeo (2)</a></li>
        <li><a href="">Alfa romeo (2)</a></li>
        <li><a href="">Alfa romeo (2)</a></li>
      </ul>
      <ul class="financing col-md-3 col-sm-6">
        <li class="head">Voorraad</li>
        <li><a href="">Particuliere financieringen</a></li>
        <li><a href="">Particuliere financieringen</a></li>
        <li><a href="">Particuliere financieringen</a></li>
        <li><a href="">Particuliere financieringen</a></li>
      </ul>
      <ul class="about_financing col-md-3 col-sm-6">
        <li class="head">Voorraad</li>
        <li><a href="">Particuliere financieringen</a></li>
        <li><a href="">Particuliere financieringen</a></li>
        <li><a href="">Particuliere financieringen</a></li>
        <li><a href="">Particuliere financieringen</a></li>
      </ul>
      <ul class="contact col-md-3 col-sm-6">
        <li class="head">Voorraad</li>
        <li><a href="">Particuliere financieringen</a></li>
        <li><a href="">Particuliere financieringen</a></li>
        <li><a href="">Particuliere financieringen</a></li>
        <li><a href="">Particuliere financieringen</a></li>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
</header>

<%= render partial: 'layouts/search' %>
