<div class="search-container">
    <div class="wrapper">

        <a class="close-link" href="">
            <i class="icon close"></i>
        </a>

        <div class="title">
            <h2>Zoeken</h2>
            <p>Meer dan 500 auto’s op voorraad. Vind direct de auto die jij zoekt!</p>
        </div> <!-- .title -->

        <%= render partial: 'layouts/form_search' %>

    </div> <!-- .wrapper -->
</div> <!-- .search-container -->
