<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mail</title>
</head>
<body style="background:#FFFFFF; min-height:1000px; font-family: Helvetica, sans-serif; font-size:14px; margin:0"
      alink="#FF0000" link="#FF0000" bgcolor="#000000" yahoo="fix">

<!--PAGE WRAPPER-->
<div id="body_style" style="padding:0px">

    <!-- PAGE LAYOUT -->
    <table cellpadding="0" cellspacing="0" border="0" width="100%" align="center" style="border: 1px solid #f2f2f2; font-size:14px;">
        <tr>
            <td valign="top">
                <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
                    <tr>
                        <td valign="top" style="padding: 15px;">
                            <table cellpadding="0" cellspacing="0" border="0" align="center" width="600px">
                                <tr>
                                    <td width="100" valign="middle"><img src="http://www.autoservicehaarlem.nl/images/logo-autoservicehaarlem.png" height="100px" width="114px" /></td>
                                    <td width="500" valign="middle"><h1 style="color:#4b4b4b; padding-left:15px; margin: 0">AANVRAAG FINANCIERING</h1></td>
                                </tr>
                            </table>
                            <%= yield %>

                        </td>
                    </tr>
                </table>
                <table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#f2f2f2">
                    <tr>
                        <td>
                            <table cellpadding="0" cellspacing="0" border="0" width="600px" style="margin:0 auto; line-height:1.8em; padding-bottom: 15px;">
                                <tr>
                                    <td width="450px" style="padding-left: 0px; padding-top: 15px">
                                        <h4 style="margin:0;">Auto Service Haarlem</h4>
                                        <ul style="list-style:none; display:inline; padding:0; margin:0;">
                                            <li style="margin-left: 0px !important;">Munterslaan 2</li>
                                            <li style="margin-left: 0px !important;">2014 KW Haarlem</li>
                                            <li style="margin-left: 0px !important;">T. 023 792 00 02</li>
                                            <li style="margin-left: 0px !important;">T. 023 792 00 03</li>
                                            <li style="margin-left: 0px !important;">info@autoservicehaarlem.nl</li>
                                            <li style="margin-left: 0px !important;">www.autoservicehaarlem.nl</li>
                                        </ul>

                                    </td>
                                    <td width="450px" style="text-align:right;" valign="top">
                                        <h4 style="margin:0; padding-top:15px;">Openingstijden</h4>
                                        <ul style="list-style:none; display:inline; padding:0; margin:0;">
                                            <li>Ma t/m vrij - Van 9.00 tot 18:00 uur</li>
                                            <li>Zaterdags - Van 9.00 tot 17.00 uur</li>
                                            <li>Zondag - Van 12:00 tot 16:00 uur</li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div> <!--end wrapper-->
</body>
</html>